* text=auto eol=lf
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf
*.dart text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.xml text eol=lf
*.properties text eol=lf
*.gradle text eol=lf
*.kt text eol=lf
*.java text eol=lf
*.swift text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.lock text eol=lf
*.pbxproj text eol=lf
*.podspec text eol=lf
*.sh text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.py text eol=lf
*.sql text eol=lf
*.env text eol=lf
*.gitignore text eol=lf
*.gitattributes text eol=lf 